# Data jobs

This notebook is hosted [here](https://github.com/sijmenw/data-analyst-jobs-us)

[README.md](https://github.com/sijmenw/data-analyst-jobs-us/blob/master/README.md)

Blog post can be found [here](https://medium.com/@sijmenvdw/data-jobs-in-the-us-714d0b399584)

Project part of the Udacity Data Scientist Nanodegree

We want to find out more about data jobs

Data downloaded from: https://github.com/picklesueat/data_jobs_data

# Business understanding

In this notebook we are trying to find out more about data jobs, their locations and salaries. We will use pandas and matplotlib to get insights in the data.

Questions we will try to answer:
 - What are the geographical hotspot for finding a data job?
 - What subgroup in the data field has the highest salary?
 - Which industry has the most data jobs?

## Gather

In [1]:
import pandas as pd

In [2]:
df_ba = pd.read_csv("./BusinessAnalyst.csv")

## Assess

## Data understanding

We will look at the [business analyst job dataset](https://github.com/picklesueat/data_jobs_data). We will transform various variables and create plots to get better insights into the data.

In [3]:
df_ba.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),Company Overview\n\n\nAt Memorial Sloan Ketter...,3.9,Memorial Sloan-Kettering\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1
1,1,1,Business Analyst,$56K-$102K (Glassdoor est.),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,True
2,2,2,Data Analyst,$56K-$102K (Glassdoor est.),"For more than a decade, Asembia has been worki...",3.6,Asembia\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1
3,3,3,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),Job Description Summary\nThe Information Secur...,3.6,BD\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1
4,4,4,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),Magnite is the world's largest independent sel...,3.4,Rubicon Project\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",True

In [4]:
df_ba.tail()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
4087,Help Desk Analyst,$66K-$114K (Glassdoor est.),Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half\n3.5,"Jacksonville, FL","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1,NaN,NaN
4088,System Analyst (Data) - PL/SQl Server,$66K-$114K (Glassdoor est.),Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx\n3.9,"Jacksonville, FL","Princeton, NJ",501 to 1000 employees,2002,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1,NaN,NaN
4089,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K (Glassdoor est.),Job Opening Summary\nReports to the Systems Ap...,4.0,Shands at the University of Florida\n4.0,"Jacksonville, FL","Gainesville, FL",10000+ employees,-1,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1,NaN,NaN
4090,Loss Mitigation Analyst,$66K-$114K (Glassdoor est.),Job Description\nA knowledgeable job-seeker is...,4.4,Contemporary Staffing Solutions\n4.4,"Jacksonville, FL","Mount Laurel, NJ",1001 to 5000 employees,1994,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1,NaN,NaN
4091,Financial Analyst II - Baptist,$66K-$114K (Glassdoor est.),Job Summary\n\nThis unique analyst position re...,2.7,Baptist Medical Center Jacksonville\n2.7,"Jacksonville, FL","Jacksonville, FL",5001 to 10000 employees,-1,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1,NaN,NaN

It seems the columns are shifted somewhere in the dataset, the `head()` shows correct values for the columns, but the `tail()` shows a two column shift.

Inspecting and scrolling through the data shows the switch is at 3691-3692.

## Clean

## Data preparation

Here we will prepare the data so we can easily use it later on

In [5]:
# align the columns
df_ba.iloc[3692:, 2:] = df_ba.iloc[3692:, :-2].values

In [6]:
df_ba.tail()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
4087,Help Desk Analyst,$66K-$114K (Glassdoor est.),Help Desk Analyst,$66K-$114K (Glassdoor est.),Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half\n3.5,"Jacksonville, FL","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1
4088,System Analyst (Data) - PL/SQl Server,$66K-$114K (Glassdoor est.),System Analyst (Data) - PL/SQl Server,$66K-$114K (Glassdoor est.),Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx\n3.9,"Jacksonville, FL","Princeton, NJ",501 to 1000 employees,2002,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1
4089,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K (Glassdoor est.),Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K (Glassdoor est.),Job Opening Summary\nReports to the Systems Ap...,4.0,Shands at the University of Florida\n4.0,"Jacksonville, FL","Gainesville, FL",10000+ employees,-1,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1
4090,Loss Mitigation Analyst,$66K-$114K (Glassdoor est.),Loss Mitigation Analyst,$66K-$114K (Glassdoor est.),Job Description\nA knowledgeable job-seeker is...,4.4,Contemporary Staffing Solutions\n4.4,"Jacksonville, FL","Mount Laurel, NJ",1001 to 5000 employees,1994,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1
4091,Financial Analyst II - Baptist,$66K-$114K (Glassdoor est.),Financial Analyst II - Baptist,$66K-$114K (Glassdoor est.),Job Summary\n\nThis unique analyst position re...,2.7,Baptist Medical Center Jacksonville\n2.7,"Jacksonville, FL","Jacksonville, FL",5001 to 10000 employees,-1,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1

In [7]:
# drop garbage columns
df_ba = df_ba.drop(['Unnamed: 0', 'index'], axis=1)

In [8]:
df_ba.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),Company Overview\n\n\nAt Memorial Sloan Ketter...,3.9,Memorial Sloan-Kettering\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1
1,Business Analyst,$56K-$102K (Glassdoor est.),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,True
2,Data Analyst,$56K-$102K (Glassdoor est.),"For more than a decade, Asembia has been worki...",3.6,Asembia\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1
3,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),Job Description Summary\nThe Information Secur...,3.6,BD\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1
4,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),Magnite is the world's largest independent sel...,3.4,Rubicon Project\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",True

### Transform Location to Lat/Lon

In [9]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='myapplication')

In [10]:
geolocator.geocode("Alhambra, CA, USA")

Location(Alhambra, Los Angeles County, California, United States of America, (34.093042, -118.12706, 0.0))

In [ ]:
# create a lat/lon dict for each location
locations = df_ba['Location'].unique()

def get_lat_lon(loc):
    """Get lon/lat coordinates for the location
    
    USA must be added because place names can be ambiguous
    """
    loc += ", USA"
    location = geolocator.geocode(loc)
    return [location.raw['lat'], location.raw['lon']]

latlons = {loc: get_lat_lon(loc) for loc in locations}

In [ ]:
df_ba['lat'] = df_ba['Location'].apply(lambda x: float(latlons[x][0]))

In [ ]:
df_ba['lon'] = df_ba['Location'].apply(lambda x: float(latlons[x][1]))

In [ ]:
df_ba[['Location', 'lat', 'lon']]

### Transform salaries to numbers

In [ ]:
import re

def get_min_max_salary(salary_str):
    """Use regex to extract the minimum and maximum salaries from the Salary Estimate field
    """
    m = re.findall("\$([0-9]+)K*", salary_str)
    min_s, max_s = int(m[0]) * 1000, int(m[1]) * 1000
    return min_s, max_s

assert get_min_max_salary('$56K-$102K (Glassdoor est.)') == (56000, 102000)

In [ ]:
df_ba['salary_min'] = df_ba['Salary Estimate'].apply(lambda x: get_min_max_salary(x)[0])
df_ba['salary_max'] = df_ba['Salary Estimate'].apply(lambda x: get_min_max_salary(x)[1])

In [ ]:
df_ba[['salary_min', 'salary_max']].describe()

## Analyze, model, visualize

# Modelling

# Q1: What are the geographical hotspot for finding a data job?
# Heatmap of jobs by location

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
counts = np.zeros((16, 24))

# linear bins from min to max
lat_min = df_ba['lat'].min()
lat_max = df_ba['lat'].max()+0.01
lon_min = df_ba['lon'].min()
lon_max = df_ba['lon'].max()+0.01

def get_bin(lat, lon):
    """2D bin calculations from lat/lon coordinates
    
    Number is bins is hardcoded
    """
    lat -= lat_min
    lat /= lat_max - lat_min
    lat *= 16
    
    lon -= lon_min
    lon /= lon_max - lon_min
    lon *= 24
    
    return int(lat), int(lon)

for lat, lon in zip(df_ba['lat'], df_ba['lon']):
    lat_idx, lon_idx = get_bin(lat, lon)
    counts[lat_idx, lon_idx] += 1

In [ ]:
plt.figure(figsize=(24*0.6,16*0.6))
plt.imshow(np.flip(counts, axis=0), cmap='hot', interpolation='nearest')
plt.show()

It's obvious there are a few hotspots, however the data is hard to interpret

In [ ]:
# create a dictionary from locations to prevalance for each locations
count_dict = {k: v for k, v in zip(df_ba['Location'].value_counts().index, df_ba['Location'].value_counts().values)}

In [ ]:
df_ba['locCount'] = df_ba['Location'].apply(lambda x: count_dict[x])

In [ ]:
# visualise prevalence of jobs on their lat/lon coordinate
plt.figure(figsize=(20,10))
plt.scatter(df_ba['lon'], df_ba['lat'], s=0.1+df_ba['locCount']/df_ba['locCount'].max())

Using the raw lat/lon coords, West coast CA and East coast NY are clearly visible as hotspots.

# Q2: What subgroup in the data field has the highest salary?
## Best paying jobs

In [ ]:
# 6 most common jobs
most_common = df_ba['Job Title'].value_counts()[:6]
most_common

In [ ]:
fig = plt.figure(figsize=(20,10))

df_ba[df_ba['Job Title'].isin(most_common.index)][['Job Title','salary_max']].groupby("Job Title").boxplot(subplots=False)

### Average salaries

In [ ]:
df_ba[df_ba['Job Title'].isin(most_common.index)][['Job Title','salary_max']].groupby("Job Title").mean()

# Q3: Which industry has the most data jobs?

In [ ]:
df_ba['Industry'].value_counts()[:5]

# Evaluation

### Winner: Business Systems Analyst

Q1: We found the Business Systems Analyst role is the best paying job in this dataset. It holds the highest values for all quartiles, not counting outliers.

Q2: The geographical plots clearly show hotspots on the south west coast, NYC and south central US.

Q3: IT services is the leader in data jobs, this makes sense because data and IT are very closely intertwined. Next are "-1", which I believe means unspecified, and staffing & outsourcing.